<!-- footer -->
<section id="footer">
    <footer class="site-footer py-5">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center py-3">
                    <small>Copyright &copy; Shafin 2020</small>
                </div>
            </div>
        </div>

    </footer>
</section>





<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script src="https://unpkg.com/@popperjs/core@2" ></script>

<script src="/js/wow.min.js" ></script> 



<script>
    new WOW().init();
</script> 




<script>
    if ($('.ty-compact-list').length > 3) {
    $('.ty-compact-list:gt(2)').hide();
    $('.show-more').show();
    }

    $('.show-more').on('click', function() {
    //toggle elements with class .ty-compact-list that their index is bigger than 2
    $('.ty-compact-list:gt(2)').toggle("slow")
    //change text of show more element just for demonstration purposes to this demo
    $(this).text() === 'Show more' ? $(this).text('Show less') : $(this).text('Show more');

    });

 </script>

 <!-- croppie  -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.js"></script>
 <script src="/js/profilePicsUpload.js"></script>

