<!-- footer -->
<section id="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 mt-5">
                    <h3>About Us</h3>
                    <img src="/img/image2.jpeg" alt="" width="400px" height="250px" class="mt-4">
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quisquam quas
                        dolorum praesentium tempore nostrum eius corrupti ex architecto, fuga minus maiores
                        incidunt!</p>
                </div>
                <div class="col-md-4 col-sm-12  mt-5">
                    <div class="lt-post">
                        <h3>Latest post</h3>
                        <ul class="mt-5">
                            <li>
                                <a href="#">
                                    <div class="media">
                                        <img class="mr-3" src="/img/image1.jpg" alt="Generic placeholder image"
                                            width="80" height="50">
                                        <div class="media-body">
                                            <h5 class="mt-0">How to Find the Video Games of Your Youth</h5>
                                            <div class="time-comment">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="media">
                                        <img class="mr-3" src="/img/image2.jpeg" alt="Generic placeholder image"
                                            width="80" height="50">
                                        <div class="media-body">
                                            <h5 class="mt-0">How to Find the Video Games of Your Youth</h5>
                                            <div class="time-comment">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="media">
                                        <img class="mr-3" src="/img/image3.jpg" alt="Generic placeholder image"
                                            width="80" height="50">
                                        <div class="media-body">
                                            <h5 class="mt-0">How to Find the Video Games of Your Youth</h5>
                                            <div class="time-comment">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="q-links mt-5">
                        <h3>Quick Links</h3>
                        <ul class="mt-3">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Categories</a></li>
                        </ul>
                    </div>
                    <div class="q-links mt-5">
                        <h3>Social Links</h3>
                        <ul class="mt-3">
                            <li> <a href="#" class="mr-2"> <i class="fab fa-facebook"></i>&nbsp&nbspFacebook</a>
                            </li>
                            <li> <a href="#" class="mr-2"> <i class="fab fa-twitter"></i></i>&nbsp Twitter</a></li>
                            <li><a href="#" class="mr-2"> <i class="fab fa-instagram"></i>&nbsp Instagram</a></li>

                            <li> <a href="#" class="mr-2"> <i class="fab fa-youtube"></i>&nbsp Youtube</a></li>

                        </ul>
                    </div>
                </div>


            </div>
            <div class="row ">
                <div class="col-12 text-center py-3">
                    <small>Copyright &copy; Aspect 2020</small>
                </div>
            </div>
        </div>

    </footer>
</section>





<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script src="https://unpkg.com/@popperjs/core@2" ></script>

<script src="/js/wow.min.js" ></script> 



<script>
    new WOW().init();
</script> 




<script>
    if ($('.ty-compact-list').length > 3) {
    $('.ty-compact-list:gt(2)').hide();
    $('.show-more').show();
    }

    $('.show-more').on('click', function() {
    //toggle elements with class .ty-compact-list that their index is bigger than 2
    $('.ty-compact-list:gt(2)').toggle("slow")
    //change text of show more element just for demonstration purposes to this demo
    $(this).text() === 'Show more' ? $(this).text('Show less') : $(this).text('Show more');

    });

 </script>

 <!-- croppie  -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.js"></script>
 <script src="/js/profilePicsUpload.js"></script>

