<div id="sidebar" class="my-5">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="/user/posts/create">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="/user/posts">My Posts</a>
        </li>
        <li class="list-group-item">
            <a href="/">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/">Logout</a>
        </li>
    </ul>
</div>